In [4]:
# Importing the necesssary modules
import pandas  as pd
from pandas import Timedelta
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline
sns.set()

from Backtest import * # Local Import

In [5]:
# Preparing the data for use
ohlcv = pd.read_csv('data/daily_AAPL.csv', parse_dates=['timestamp']).sort_values('timestamp').set_index('timestamp')
ohlcv.head()
# Ensure dataframe looks like this before feeding into Backtesting Object

              open    high     low   close   volume
timestamp
2000-01-03  104.87  112.50  101.69  111.94  4783900
2000-01-04  108.25  110.62  101.19  102.50  4574800
2000-01-05  103.75  110.56  103.00  104.00  6949300
2000-01-06  106.12  107.00   95.00   95.00  6856900
2000-01-07   96.50  101.00   95.50   99.50  4113700

In [10]:
#  Creating the backtesting Object (Single Line of Code !)
sma = Backtest(ohlcv, algo="moving_average", ini_cash=100000)

#  Running the backtest
sma.run_backtest("full_stakes", None, "full_stakes", None)

{'duration_analyzed': '6741 days 00:00:00',
 'number_of_trades': 4595,
 'simple_return': '8.157393500000078 %',
 'remaining_cash': 5.6435000000783475,
 'owned_shares': 575.0,
 'portfolio_value': 108157.39350000008}

In [17]:
rsi = Backtest(ohlcv, algo="moving_average", ini_cash=100000)
rsi.run_backtest('percent_cash', 50, 'percent_shares', 5)

{'duration_analyzed': '6741 days 00:00:00',
 'number_of_trades': 4595,
 'simple_return': '33.49306910000005 %',
 'remaining_cash': 325.34910000003833,
 'owned_shares': 708.0,
 'portfolio_value': 133493.06910000005}